@import "tailwindcss";

@layer base {
  body {
    @apply antialiased text-slate-800 bg-slate-100 selection:bg-[#FACC15] selection:text-[#064E3B];
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(6, 78, 59, 0.2);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(6, 78, 59, 0.4);
}

.dark ::-webkit-scrollbar-thumb {
  background: rgba(250, 204, 21, 0.2);
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: rgba(250, 204, 21, 0.4);
}
